.cfg
~/.config/newsboat/cache.db
~/.config/newsboat/history.cmdline
~/.config/newsboat/history.search
~/.config/mutt/muttrc
~/.config/mopidy/mopidy.conf
~/.elvish/lib
~/.elvish/db
~/.config/kak/autoload/privatecapsule.kak
~/.config/htop/htoprc
